body{
    margin: 0;
}

.gatto{
    width: max(calc(50% - 10px), 300px);
    transition: 0.2s ease-out;
    padding: 5px;
    background-image: linear-gradient(45deg, #808080 25%, transparent 25%), linear-gradient(-45deg, #808080 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #808080 75%), linear-gradient(-45deg, transparent 75%, #808080 75%);
    background-size: 5px 5px;
    background-position: 0 0, 0 10px, 10px -10px, -10px 0px;
}

.gatto:hover{
    transform: translate(-2px, -5px);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.432);
}

.addbutton{
    z-index: 2;
    position: fixed;
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    overflow: hidden;
    border-radius: 20px;
    background-image: url('https://cdn.discordapp.com/attachments/766537168713547776/1110648631104634992/loading_cats.gif');
    background-size: cover;
    background-position: center;
}

.addbutton:hover{
}

#preloader{
    position: fixed;
    height: 0px;
    width: 0px;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.contrastingtext{
    background: hsla(0, 0%, 100%, 0.226);
    color: black;
    height: 100px;
}