body{
    margin: 0;
}

.aboutme{
    width: 100%;
}

.cathouse{
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: pink;
}

#catbox{
    max-width: 700px;
    height: 500px;
    background-color: hsl(0, 0%, 89%);
    margin: auto;
    padding: 10px;
}

.gatto{
    border: 5px solid hsl(0, 0%, 100%);
    width: min(calc(25% - 10px), 200px);
    transition: 0.2s ease-out;
    -webkit-user-drag: none;
    user-drag: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 5px;
}

.gatto:hover{
    transform: translate(-2px, -5px);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.432);
}

.addbutton{
    z-index: 2;
    position: absolute;
    height: 100px;
    width: 100px;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    text-align: center;
    font-size: 100px;
    line-height: 100px;
    overflow: hidden;
    border-radius: 20px;
    background-image: url('https://cdn.discordapp.com/attachments/766537168713547776/1110648631104634992/loading_cats.gif');
    background-size: cover;
    background-position: center;
    border: 0px solid black;
    transition: border-bottom-width .2s ease-in, transform .2s ease-in, background .05s, box-shadow .2s ease-in;
}

.addbutton:hover{
    border-bottom-width: 2px;
    transform: translate(0px, -5px);
    box-shadow: 0px 11.5px 11.5px hsl(0deg 0% 0% / 0.32);
}

.addbutton:active{
    transition: transform .05s ease-in;
    transform: translate(0);
    box-shadow: 0px 0px 0px transparent;
}

#preloader{
    position: fixed;
    height: 0px;
    width: 0px;
    bottom: 0;
    right: 0;
    overflow: hidden;
}

.contrastingtext{
    background: hsla(0, 0%, 100%, 0.226);
    color: black;
    height: 100px;
}